___
## Ciência dos Dados - PROJETO 3 - INSPER

___
#### Mariana Abrantes

#### Gabriel Couto

#### Gabriel Miras
___

# Previsão de preços de smartphones ao dólar

___

## A. INTRODUÇÃO

Nestes últimos anos, com a instabilidade política e socioeconômica do Brasil, o preço do dólar está em constante variação, e com isso o preço de produtos estrangeiros mudam constantemente. Movidos por uma curiosidade de encontrar se estes fatores possuem semelhanças, escolhemos criar um modelo preditivo que, baseados em diversos fatores acerca de um modelo de smartphone, faça uma previsão acerca de seu preço durante os meses. Estamos interessados em buscar modelos consistentes, que nos permitam observar as predições e tirar conclusões acerca de sua performance.

___
## B. MINERANDO DADOS e CARACTERÍSTICAS DO DATASET

[Detalhe aqui as características da base de dados além da análise descritiva.]

In [2]:
import pandas as pd
import requests
import os
import re

In [3]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
/home/gabrielmiras/Documentos/INSPER/3 SEMESTRE (DP)/C DADOS DP/Projetos/Projeto 3/DP-P3

In [4]:
#Retorna lista com as linhas do codigo html de uma pagina
def baixarhtml(url):
    html = requests.get(url).text.splitlines()
    return html

#Retorna lista com as linhas do codigo html de uma pagina
def baixarBD(url):
    #Pegar ID do produto do buscape usando o link fornecido
    code = baixarhtml(url)
    for i in range(len(code)):
        igual = re.findall('"productId":[0-9]*', code[i])
        if len(igual)>0:
            id = igual[0].split(':')[1]
            
    #Baixar BD dos preços
    site = "https://www.buscape.com.br/async/history/idu/" + id + "/days/365"
    code = baixarhtml(site)
    
    #Converte código e cria tabela
    c = code[0].split('"historicos":')
    json_file = c[1][:-1]
    bd = pd.read_json(json_file)
    return bd#.loc[:,'data']

### BASE DE DADOS

In [5]:
link = "https://www.buscape.com.br/smartphone-apple-iphone-x-64gb"
a = baixarBD(link)
a

,data,dataCadastro,idParceiro,idPu,precomax,precomed,precomin
0,18/05/2018,NaN,0,637441,9348.96,5873.6180,4998.96
1,19/05/2018,NaN,0,637441,9348.96,5782.5680,4998.96
2,20/05/2018,NaN,0,637441,9348.96,5875.4062,4998.96
3,21/05/2018,NaN,0,637441,9348.96,5818.8335,4998.96
4,22/05/2018,NaN,0,637441,9348.96,5791.4575,5099.00
5,23/05/2018,NaN,0,637441,9348.96,5853.7800,5099.00
6,24/05/2018,NaN,0,637441,9348.96,5885.4900,5099.00
7,25/05/2018,NaN,0,637441,9348.96,5876.5710,5219.10
8,26/05/2018,NaN,0,637441,9348.96,5875.1455,5099.00
9,27/05/2018,NaN,0,637441,9348.96,5915.4663,5099.00
10,28/05/2018,NaN,0,637441,9348.96,5907.1025,5099.00
11,29/05/2018,NaN,0,637441,9348.96,5961.9380,5020.10
12,30/05/2018,NaN,0,637441,9348.96,5933.9900,5099.00
13,31/05/2018,NaN,0,637441,9348.96,6103.0420,5226.32
14,01/06/2018,NaN,0,637441,9348.96,5992.4900,5020.10
15,02/06/2018,NaN,0,637441,9348.96,6098.3936,5020.10
16,03/06/2018,NaN,0,637441,9348.96,6078.3830,5020.10
17,04/06/2018,NaN,0,637441,9348.96,6037.6700,4737.15
18,05/06/2018,NaN,0,637441,9348.96,6237.3400,5020.10
19,06/06/2018,NaN,0,637441,9348.96,6207.9077,5020.10
20,07/06/2018,NaN,0,637441,9348.96,6125.8220,4737.15
21,08/06/2018,NaN,0,637441,9348.96,6125.7886,4737.15
22,09/06/2018,NaN,0,637441,9348.96,6222.5483,5190.00
23,10/06/2018,NaN,0,637441,9348.96,6159.4546,5190.00
24,11/06/2018,NaN,0,637441,9348.96,6164.3260,4737.15
25,12/06/2018,NaN,0,637441,9348.96,6154.1350,4737.15
26,13/06/2018,NaN,0,637441,9348.96,6066.7420,4737.15
27,14/06/2018,NaN,0,637441,6699.99,6139.9575,5279.59
28,15/06/2018,NaN,0,637441,9348.96,6224.5283,5165.00
29,16/06/2018,NaN,0,637441,9348.96,6110.5520,5279.12
...,...,...,...,...,...,...,...
333,17/04/2019,NaN,0,637441,5299.00,4999.0000,4099.00
334,18/04/2019,NaN,0,637441,5299.00,4999.9900,4599.00
335,19/04/2019,NaN,0,637441,5107.64,4999.9900,4099.00
336,20/04/2019,NaN,0,637441,5107.64,4999.9900,4599.00
337,21/04/2019,NaN,0,637441,5359.00,4799.9900,4099.00
338,22/04/2019,NaN,0,637441,5359.00,5019.0000,4599.99
339,23/04/2019,NaN,0,637441,5107.64,4999.9900,4099.00
340,24/04/2019,NaN,0,637441,5183.30,4999.9900,4599.99
341,25/04/2019,NaN,0,637441,5580.80,4959.4950,4659.99
342,26/04/2019,NaN,0,637441,5580.80,5009.4950,4659.99
343,27/04/2019,NaN,0,637441,5580.80,4999.0000,4199.00
344,28/04/2019,NaN,0,637441,5390.00,5009.4950,4659.99
345,29/04/2019,NaN,0,637441,5390.00,5009.4950,4659.99
346,30/04/2019,NaN,0,637441,5390.00,4899.9900,4659.99
347,01/05/2019,NaN,0,637441,5699.00,4899.9900,4299.00
348,02/05/2019,NaN,0,637441,5699.00,5009.4950,4659.99
349,03/05/2019,NaN,0,637441,5489.00,4899.9900,4349.00
350,04/05/2019,NaN,0,637441,5489.00,4899.9900,4299.00
351,05/05/2019,NaN,0,637441,5489.00,4899.9900,4299.00
352,06/05/2019,NaN,0,637441,5489.00,4899.9900,4299.00
353,07/05/2019,NaN,0,637441,5039.00,4899.9900,4599.00
354,08/05/2019,NaN,0,637441,5249.99,4899.9900,4199.00
355,09/05/2019,NaN,0,637441,5250.00,4899.9900,4399.00
356,10/05/2019,NaN,0,637441,5489.00,4899.9900,4199.00
357,11/05/2019,NaN,0,637441,5099.00,5009.0000,4399.00
358,12/05/2019,NaN,0,637441,5099.00,4799.9900,4199.00
359,13/05/2019,NaN,0,637441,5489.00,5019.0000,4399.00
360,14/05/2019,NaN,0,637441,5099.00,5009.0000,4199.00
361,15/05/2019,NaN,0,637441,5099.00,4899.9900,4399.00
362,16/05/2019,NaN,0,637441,5019.00,4899.9900,4249.00

In [8]:
dados19 = pd.read_csv('USD_BRLDadosHistóricos(2019).csv',sep=',')
dados19.head(3)

         Data  Último Abertura  Máxima  Mínima    Var%
0  09.05.2019  3,9420   3,9490  3,9807  3,9341   0,34%
1  08.05.2019  3,9285   3,9708  3,9781  3,9251  -1,07%
2  07.05.2019  3,9710   3,9710  4,0006  3,9640   0,04%

In [9]:
dados18 = pd.read_csv('USDBRLDadosHistóricos(2018).csv',sep=',')
dados18.head(3)

         Data  Último Abertura  Máxima  Mínima    Var%
0  30.11.2018  3,8669   3,8496  3,8888  3,8380   0,37%
1  29.11.2018  3,8527   3,8516  3,8752  3,8331   0,04%
2  28.11.2018  3,8510   3,8790  3,8878  3,8317  -0,62%

### ANÁLISE DESCRITIVA

___
## C. MODELOS DE PREDIÇÃO

o MODELO DE PREDIÇÃO PELA MÉDIA (Sem uso de variável explicativa).

o MODELO DOS K VIZINHOS MAIS PRÓXIMOS (K-Nearest Neighbors Regression)

o MODELO DE REGRESSÃO LINEAR (Multiple Linear Regression)

o MODELO DE ÁRVORES DE REGRESSÃO (Decision Tree Regression)

___
## D. PROCESSO E ESTATÍSTICAS DE VALIDAÇÃO

[Esse item depende dos resultados das modelagens anteriores! Organize-os aqui de forma clara!]

___
## E. CONCLUSÃO

___
## F. REFERÊNCIAS BIBLIOGRÁFICAS